.Container{
  background-color: rgb(59, 153, 241);
}
.bottompart{
 display: flex;
 
}
ul{
  display:flex;
  flex-wrap: wrap;
  
}
.friendsadded{
  border: 1px solid red;
  height: 675px;
  width: 1200px;
  margin-right: 100px;
  margin-top: 60px;
  padding: 30px;
  border-radius: 3%;
}